!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Snapreader"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"

    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
  %body{ style: 'background-color: #e9e9e9'}
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to 'Snapreader', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          -if current_user
            %li
              =link_to user_favorites_path(current_user) do
                Favorites
    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3
          #user-panel
            -if current_user
              =render partial: 'shared/user_panel'
            -else
              =render partial: 'shared/sign_up'